.container {
    width: 90%;
    margin: 0 auto;
}
hr {
    width: 90%;
    margin: 2% auto;
}
canvas {
    width: 100%;
    height: auto;
}
.jumbotron {
    background-color: #eaebed;
}
.gauge-side {
    text-align: center;
}
.main-row {
    width: 90%;
    margin: 0 auto;
}
.secondary-row {
    width: 95%;
    margin: 0 auto;
}
.third-row {
    width: 95%;
    margin: 0 auto;
}
.common-websites {
    text-align: center;
}
.selectpicker,
#output {
    margin-bottom: 5%;
}
#generateBtn {
    margin-top: 5%;
}
input {
    font-size: 1.5em !important;
}
.btn {
    background-color: #3E4551!important;
    font-size: 1em;
    margin: 0;
}
.btn:hover {
    background-color: #7d889b !important;
}
.btn:focus {
    background-color: #7d889b !important;
}
#randWord {
    margin-top: 5%;
}
#randomwords {
    margin-top: 5%;
}
footer.page-footer .footer-copyright {
    font-size: 1em !important;
}
.alert-success {
    font-size: 1.2em;
}
#warning {
    min-height: 60px;
    color: #e61414;
}
.criteria-list {
    list-style: none;
    font-size: 2em;
    column-count: 2;
    padding: 0;
}
.passes {
    color: #00b300;
}
#secure-content {
    font-size: 1.1em;
    width: 80%;
    margin: 0 auto;
}
#tips-content {
    width: 80%;
    margin: 0 auto;
}
.tip-list {
    list-style: none;
    padding: 0;
    font-size: 1.1em;
}
.generate-words,
.generator {
    width: 80%;
    margin: 0 auto;
}